<h1>Angular</h1>
<h2>Exercise-Authors</h2>
<author></author>
<h2>Exercise-Favorite</h2>
<favorite [is-favorite] = "post.isFavorite" (change)="onFavoriteChange($event)"></favorite>
<h2>Exercise-Title Case</h2>
<title-case></title-case>
<h2>Exercise-LikeComponet</h2>
<like [isActive]="tweet.isLike"
    [likesCount]="tweet.likeCount">
</like>
<h2>Exercise-Create Custom Directives</h2>
<input type="text" [appInputFormat]="'uppercase'">
<h2>Exercise-Zippy</h2>
<zippy title="Shipping Details">
    Shipping Detials Content
</zippy>
<zippy title="Billing Details">
    Billing Detials Content
</zippy>